<% if @topic.errors.any? %>
 <div class="row">
  <div class="col-md-8 col-md-offset-2">
   <div class="panel panel-danger">
    <div class="panel-heading">
    <h2 class="panel-title">
      <%= pluralize(@topic.errors.count, "error") %> prohibited this <%= @topic.class %> from being saved: <!-- Solution from recipes_test_rb 46 -->
     </h2>
      <div class="panel-body">
       <ul>
        <% @topic.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
      <% end %>
     </ul>
    </div>
    </div>
   </div>
  </div>
 </div>
<% end %>