<div class="jumbotron">
  <h1 align="center">Blog with Real Time Messaging</h1>
</div>

<div align="center">
  <div class="jumbotron">
    <%= link_to "Create Your Profile", new_user_path, class: "btn btn-primary btn-lg bttn" %>
  </div>
</div>

<%= render 'layouts/footer' %>