@import "bootstrap-sprockets";
@import "bootstrap";

/* All Pages */

body {
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



  
  background-size: cover;
  
}

/* Pages Section */
.jumbotron {
  background-color: transparent;
  color: #fff;
  
}

/* Topics Section */

.well {
  background-color: transparent;
  border: 3px solid white;
  color: #fff;
  margin-left: 25px;
  margin-right: 25px;
}

.flashes {
  margin-top: 40px;
}



/* Index page */

.well-index {
    background-color: transparent;
    color: #fff;
}


.well.profile-black-white-thin-b {
    background-color: #e6f7ff;
    border: 1px solid black;
    border-radius: 25px;
}

.index-block {
  border: 2px solid white;
  margin-bottom: 8px;
  padding-bottom: 3px;
}

.bttn {
  border: 2px solid white;
}


.texties {
  font-family: arial;
}

.spacer {
  visibility: hidden;
}

.BoldText {
  font-weight: bold; 
  
}

.descriptionText {
  font-weight: bold;
  font-size: 16px;
}


/* Form section */

.forn-group .form-control {
  background-color: transparent;
  border: 3px solid white;
  color: #fff;
  font-weight: bold;
}

.labled {
  color: white;
}

/* Show Page */

.image-frame {
  border: 3px solid white;
  /*object-fit: cover; */
  
  
}

/* USERS SECTION */


  
.IndexSize {
  width: 30%;
  height: auto;
  border: 3px solid white;
  border-radius: 5px;
   
}
  
  
/* REDUCING SCREEN SIZES THROUGH DIFFERENT BROWSER WINDOWS */

/* IPHONES */
  
 /* For I phoneX */
 
 @media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 812px) {
    
    img {
    width: 100%;
    height: auto;
}
  
}

 /* For I phone 6/7/8 */
 
 @media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px) {
     img {
    width: 100%;
    height: auto;
}
    
  }
  
 /* For I phone 6/7/8 Plus versions */
 
 @media only screen 
  and (min-device-width : 414px) 
  and (max-device-width : 736px) {
     img {
    width: 100%;
    height: auto;
}
    
  }
  
  /* For I Phone 5's */
  
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 568px) {
    img {
    width: 100%;
    height: auto;
}
    
}

                                              /* IPADS  */

/* Ipad */

  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) {
     img {
      width: 100%;
      height: auto;
  }
}

/* Ipad 3 & 4 */
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    img {
      width: 100%;
      height: auto;
  }
  }
  
  /* Ipad 1 & 2 */
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    img {
      width: 100%;
      height: auto;
  }
  }
  
  /* Ipad Mini */
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    img {
      width: 100%;
      height: auto;
  }
  }